<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMDGOINT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMDGOINT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="localhost_AmdgoInterno_Connection" connectionString="XpoProvider=MSSqlServer;data source=SAM\SAM;user id=sa;password=Am2016;initial catalog=AmdgoInterno;Persist Security Info=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <AMDGOINT.Properties.Settings>
      <setting name="UsuariosWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuariosHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuariosLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PrestatariaHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrestatariaWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrestatariaLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReporteHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReporteWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReporteLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FacturaDetHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FacturaDetWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FacturaDetLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="NcParamsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NcParamsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NcParamsLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ProfesHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProfesWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProfesLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ParamsPFCHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParamsPFCWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParamsPFCLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PlanesPopHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlanesPopWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlanesPopLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PresDetallesHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PresDetallesWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PresDetallesLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="InfoGeneralHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InfoGeneralWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InfoGeneralLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FacturaUnicHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FacturaUnicWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FacturaUnicLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FactUnicProfHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FactUnicProfWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FactUnicProfLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EspecialidadHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EspecialidadWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EspecialidadLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PrestPopupHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrestPopupWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrestPopupLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PracticasHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PracticasWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PracticasLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Neg_coldifpedidoval" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_coldifpedidoporc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_coldifpactadoval" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_coldifpactadoporc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_coldifnomencval" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_coldifnomencporc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_colcoseguro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Neg_colcopago" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmpresaLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EmpresaWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EmpresaHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Anl_colvalorpactant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Anl_coldifpactporc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rc_Impresion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReclamoExportOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ord_Impresion" serializeAs="String">
        <value>False</value>
      </setting>
    </AMDGOINT.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AMDGOINT.Properties.Settings>
      <setting name="AMDGOINT_AFIP_HOMO_WSAA_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="AMDGOINT_AFIP_PROD_WSAA_LoginCMSService" serializeAs="String">
        <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="AMDGOINT_AFIP_PROD_WSFE_Service" serializeAs="String">
        <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="AMDGOINT_AFIP_HOMO_WSFE_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="AMDGOINT_WSPDR_HOMO_PersonaServiceA5" serializeAs="String">
        <value>https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
      </setting>
      <setting name="AMDGOINT_WSPDR_PROD_PersonaServiceA5" serializeAs="String">
        <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
      </setting>
    </AMDGOINT.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Paleta 1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="89,139,125" />
                <SvgColor Name="Accent Paint Dark" Value="73,120,106" />
                <SvgColor Name="Accent Paint Light" Value="209,233,226" />
                <SvgColor Name="Accent Paint Lighter" Value="221,241,235" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="171,204,194" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>